@import '../../../styles/colors';

.resume-container{
    min-width: 100vh;
    min-height: 100vh;
    margin: 20px 10%;
    padding:1%;
}

.remove-padding{
    margin-right:0px;
}





.resume-container .education {
    position:relative;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    animation-name: education-card;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    margin: 20px;
    padding: 3%;
    border-radius: 10px;
}


.left-education-animation {
    position:relative;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 20px;
    padding: 3%;
    border-radius: 10px;
    animation-name: education-right-card;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


.education-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.resume-title h1{
    font-size: clamp(45px,20px,10px);
    font-weight: 900;
    color: $secondary-background;
    text-align: center;
}


.resume-content {
    margin: 30px;
}

.resume-content h4 , .text-grey{
    color: $text-grey;
}


.education-container .education-year{
    font-size: 25px;
    color: $card-background;
    font-weight: 900;
}


.education-container .education-degree{
    font-size: 25px;
    color:$secondary-background;
}

.education-container .education-base {
    margin: 10px 0px 40px 0px;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #969696;
}


.education-content h4{
    color:$text-grey
}




@keyframes education-right-card {
    0%{
        right: -200px;
    }
    50%{
        right: 0px;
    }
}


@keyframes education-card {
    0%{
        left:-200px;
    }
    50%{
        left: 0px;
    }
}
