<div class="skills-container">
    <div class="skills-header-container">
        <div class="skills-header">
            <h1> My Skills</h1>
        </div>
        <div class="skills-text">
            <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</h3>
        </div>
    </div>
    <div class="skill-content-container">
        <div class="row">
            <ng-container *ngFor="let skill of skills">
                <div class="col-md-6">
                    <div class="card-content">
                        <div class="card-text">
                            <h2>{{skill.title}}</h2>
                            <h2>{{skill.percent}}</h2>
                        </div>
                        <div class="progress progress-container">
                            <div class="progress-bar text-bg-warning animate-progress"  [style.width]="skill.percent"></div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>