@import '../../../styles/colors';


.home-main-container {
    min-height: 100vh;
    background-color: transparent;
    min-width: 100vh;
}


.home-content-holder {
    position:relative;
    display: inline-block;
    left: 9vw;
    padding: 20px;
    width: auto;
    animation-name: home-content;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
}

.hello-div h3{
    font-size:15px;
    font-weight: 800;
    letter-spacing: 3px;
    color: $card-background;
}


.home-para-div h1 {
    margin-top: 20px;
    font-size: clamp(45px ,30px ,20px);
    color: $secondary-background;
    font-weight: 800;
}


.home-para-div span {
    color:$card-background;
    font-size: clamp(45px ,30px ,20px);
    font-weight: 800;
}

.home-para-div .strong {
    display: flex;
    margin-top: 30px;
    font-size: clamp(30px,20px,10px);
    color: $secondary-background;
    font-weight: 600;
}

.home-action-button {
    display: flex;
    gap: 15px;
    margin-top: 40px;
    justify-content: flex-start;
    align-items: center;
}

.home-action-button .hire {
    background-color: $card-background;
    color: $primary-background;
    letter-spacing: 3px;
    font-weight: 600;
}

.home-action-button .projects {
    background-color: $primary-background;
    border:none;
    outline: 2px solid $secondary-background;
}


.image-container {
    display: flex;
    animation-name: home-image;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
}


.image-container img {
    height: 400px;
    width: 395px;
}



@keyframes home-content {
    0% {
        margin-top: 0px;
    }
    
    100%{
        margin-top: 100px;
        border: 3px solid $card-background;
        padding: 50px;
    }
}

@keyframes home-image {
    100%{
        margin-top: 20px;
        padding: 40px;
    }
}