<div class="contact-container">
    <div class="row">
        <div class="contact-title">
            <h1>Contact Me</h1>
        </div>
    </div>
    <div class="row">
        <div class="contact-content">
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="image-container">
                <img src="../../../assets/images/home-image.png" />
            </div>
        </div>
        <div class="col-md-6 color-set">
            <form #form action="https://formspree.io/f/mnnawalk" method="post">
                <div class="input-container">
                    <div class="input-fields">
                        <input type="text" placeholder="Your Name" name="name" />
                    </div>
                    <div class="input-fields">
                        <input type="email" placeholder="Your Email" name="email" />
                    </div>
                    <div class="input-fields">
                        <input type="text" placeholder="Your Subject" name="subject" />
                    </div>
                    <div class="input-fields">
                        <textarea id="w3review" name="w3review" rows="4" cols="50" name="message"
                            placeholder="Your Message"></textarea>
                    </div>
                    <div class="button-design">
                        <button mat-fab extended class="input-field-button" (click)="form.submit()">
                            send message
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>